{% extends 'page.html' %}

{% load static %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


<div class="login-input">
    <form action="" method="post">
      <!--
        <div class="input-box mt-10">
            <input type="email" placeholder="Email Address">
        </div>
        <div class="input-box mt-10">
            <input type="password" placeholder="Password">
            <a href="#">Forgot Password?</a>
        </div>
        --->
        {% csrf_token %}
      {% bootstrap_form form %}
        <div class="input-btn mt-10">
            <button class="main-btn" type="submit">login  <i class="fal fa-arrow-right"></i></button>
            <a href="#">Forgot Password?</a>
            <span>Need an account? <a href="singup.html">Signup</a></span>
        </div>
    </form>
</div>


<!----
<div class="login-input">
    <h4 style="color:white;text-align:center;width:100%" >My Account Login</h4>
    <form method="post">
      {% csrf_token %}
        {% csrf_token %}
      {% bootstrap_form form %}

      <button class="main-btn" type="submit">{% trans 'Log in' %}  <i class="fal fa-arrow-right"></i></button>

      <ul>
        <li>
            Need an account? <a href="{% url 'accounts:sign_up' %}">Signup</a>
        </li>
        <li>
            <a href="{% url 'accounts:restore_password' %}">Forgot your password?</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">'Forgot your username?</a>
        </li>

    </ul>
</form>
</div>

--->



{% endblock %}
